* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin: 5px auto !important;
    float: none !important;
}

div[id="bedrockContainer"] {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 4px 0px;
    width: 100%;
}

.odd {
    background-color: aliceblue;
}

li {
    margin-bottom: 5px;
}
